.notFoundProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
}

.logo_notFound{
    display: flex;
    height: 20rem;
}

@media(max-width: 900px)
{
    .logo_notFound{
        height: clamp(1rem,40vw,50rem);
    }

    .emptyMessage{
        font-size: 1.75rem;
        display: flex;
        align-items: center;
    }
}
